<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mongo="http://www.springframework.org/schema/data/mongo" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/data/mongo 
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">

    <context:property-placeholder location="classpath:config-local.properties" />
    
	<!-- Enable annotation configuration -->
    <context:annotation-config />

	<!-- Scan system packages for Spring annotations -->
    <context:component-scan base-package="com.king.fruits" />
    
    <!--配置mongoDB数据库-->
    <!-- <mongo:db-factory id="mongoDbFactory" username="${mongodb.username}" password="${mongodb.password}" host="${mongodb.host}" port="${mongodb.port}"  dbname="${mongodb.dbname}" />  
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">  
        <constructor-arg ref="mongoDbFactory"/>  
    </bean>  -->

    <import resource="applicationContext-mybatis.xml" />
</beans>